<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="CEO" />
        <allow roles="Admin" />
        <allow roles="ENCARGADOCLASIFICADORAHUEVO" />
        <deny roles="FacturadorComedor" />
        <deny users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
</configuration>
